.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 89, 89);
  }
  .left_side {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    background-color: brown;
    display: flex;
  }
  .inner-block {
    position: relative;
    top: 5%;
    width: 65%;
    height: 85%;
    margin: 0;
    transform: translateX(0px);
    transition: 300ms;
    opacity: 0;
  }
  .burger {
    width: 65px;
    height: 65px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 0;
  }
  .top {
    width: 100%;
    height: 20%;
    background-color: white;
  }
  .middle {
    width: 100%;
    height: 20%;
    background-color: white;
    margin-top: 20%;
  }
  input:checked  + .burger :first-child {
    margin-top: 20px;
    transform: rotate(45deg);
    transition: 0.3s;
  }
  .bottom {
    width: 100%;
    height: 20%;
    background-color: white;
    margin-top: 20%;
  }
  input:checked + .burger :last-child{
    margin-top: -13px;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  input:checked + .burger :nth-child(2){
    display: none;
    transition: 0.3s;
  }
  input:checked + .burger + .inner-block{
    transform: translateX(20%);
    opacity: 1;
  }
  body {
    margin: 0;
    padding: 0;
  }
  input {
    position: absolute;
    bottom: 70%;
    width: 3%;
    height: 50%;
    opacity: 0;
    z-index: 1;
    margin-left: 0.8%;
    margin-bottom: 0.5%;
    cursor: pointer;
  }
  .name1:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: 0.2s;
    width: 75%;

  }
  .name1 {
    width: 50%;
    cursor: pointer;
  }
  .name2:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: 0.2s;
    width: 75%
  }
  .name2 {
    width: 50%;
    cursor: pointer;
  }
  .name3:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: 0.2s;
    width: 75%;
  }
  .name3 {
    width: 50%;
    cursor: pointer;
  }